################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Gemini-chat-interface.slnx/FileContentIndex/6a9e8c63-1328-4b27-9586-e152c819f9d3.vsidx
