################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/telikiergasia2/.vs/telikiergasia2.slnx/FileContentIndex/451e9d9b-21fe-4ba2-9d58-f4c198dc1f76.vsidx
